name: Update LeetCode Stats

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install requests

      - name: Run fetch script
        run: python .leetfetch/fetch_leetcode.py

      - name: Generate SVG
        run: python .leetfetch/generate_svg.py

      - name: Push results
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .leetfetch/leetcode.json .leetfetch/leetcode.svg
          git commit -m "Updated LeetCode Stats" || echo "No changes"
          git push
